.wrapper {
    width: 100%;
    border-radius: 10px;
    min-height: 120px;
    height: fit-content;
    padding: 12px;
}

.card-section {
    width: 100%;
    cursor: pointer;
}

.card-section.separate {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-bottom: 16px;
}

.card-img {
    img {
        width: 100%;
    }
}

.card-status {
    font-size: 12px;
    font-weight: 700;
}

.card-status.active {
    color: rgba(0, 204, 0, 0.5);
}

.card-status.begin {
    color: rgb(223, 205, 45);
}

.card-time, .card-deadline {
    display: flex;
    align-items: center;
    column-gap: 2px;
    font-size: 10px;
    opacity: 0.4;
}