.wrapper {
    min-height: 100vh;
    z-index: -1;
    margin-bottom: 80px;
}

.project-banner {
    position: relative;
    height: 200px;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 80px;
    margin-top: 20px;
    background: linear-gradient(90deg, rgba(48,64,152,1) 0%, rgba(60,86,166,1) 25%, rgba(88,138,200,1) 50%, rgba(112,182,229,1) 75%, rgba(0,212,255,1) 100%);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.project-heading {
    color: var(--white);
}

.project-search {
    display: flex;
    width: 60%;
    column-gap: 4px;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 8px;

    .search-input {
        flex: 1;
    }
}

.paging-list button {
    font-size: 14px;
}