.table-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.modal-title {
    margin-bottom: 32px !important;
    width: 100%;
}

.member-skill-btn {
    width: 100%;
    max-width: 150px;
    height: 100%;
    font-size: 14px !important;
}

.member-status-btn {
    font-size: 14px !important;
}

.modal-skill-container {
    overflow-y: scroll;
    height: 220px;
    width: 400px;
    margin-left: 60px;

    &::-webkit-scrollbar {
        width: 0;               /* width of the entire scrollbar */
    }
}

.modal-skill-list {
    width: 100%;
    .modal-skill-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 26px;
        margin-top: 12px;
        p {
            font-size: 14px;
        }

        .skill-item-select {
            width: 100%;
        }
    }

    .skill-item-text {
        display: flex;
        justify-content: space-between;
        width: 200px;
        max-width: 60%;
    }
}

.empty-skill-message {
    font-size: 18px;
    color: #ccc;
}