.detail-header{
    margin-bottom: 2%;
    // display: flex;
    align-items: center;
    margin-bottom: 5%;
    display: flex;
}
 
.detail-container{
width: 100%;
}
.detail-skill{
    margin-top: 5%;
}
.content-container{
    margin-top: 5%;
}
.detail-header > img{
    width: 10%;
    border-radius: 100px;
    margin-left: 5%;
    margin-top: 5%;
     
     
}
.detailHeadingText{
    margin-top: 4%;
    margin-left: 4%;
    display: flex;
    width: 100%;
}
.detailMajorText{
    font-size: 14px;
}
.body-list{
    display: flex;
    
}
.body-item{
    width: 100%;
}
.detail-container{
    padding-right: 5%;
    
}
 
.detail-skill{}
.detail-project{}
.card-section {
    width: 100%;
    height: 100%;
}

.card-section.separate {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-bottom: 16px;
}
.detail-skill{
     
}
.sidebarContent{
  
}
.memberList{
    margin-left: 10%;
    width: 100%;
}
.wrapper{
    justify-content: space-around;
}