.header {
    width: 100%;
    top: 0;
    height: 68px;
}

.header-container {
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: transparent;
    overflow: hidden;
}

.header-container.scroll {
    transition: all 0.5s ease-in-out;
    background: rgb(0,11,17);
    background: linear-gradient(90deg, rgba(0,11,17,1) 0%, rgba(1,34,56,1) 25%, rgba(1,48,78,1) 50%, rgba(1,64,104,1) 75%, rgba(0,35,57,1) 100%);
}

.header-container.scroll .nav-item,
.header-container.scroll .search-input,
.header-container.scroll .user-wrapper {
    color: rgba(255,255,255,0.6);
}

.header-container.scroll .nav-item:hover {
    color: var(--white);
}

.header-logo {
    .logo-img {
        width: 100px;
    }
}

.search-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    padding: 0 10px;
    background-color: rgba(0,0,0,0.01) !important;
    border-radius: 12px;
}

.search-input {
    width: 90%;
    border: none;
    background-color: transparent;
    height: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 12px;
}

.search-icon {
    font-size: 25px;
}

// Navbar
.nav-item {
    padding: 10px 0;
    font-size: 14px;
    transition: color 0.4s;
    color: var(--text-color);
    &:hover {
        color: var(--primary);

    }
}

.user-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    padding: 4px 14px;
    border-radius: 24px !important;
}



