.detail-section {
    margin-bottom: 24px;
    .detail-title {
        margin-bottom: 16px;
        color: var(--primary );
    }
}

.team-member-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
    margin-left: 60px;

    &.leader-member {
        margin-left: 0;
        margin-bottom: 24px;
    }

    .member-role {
        font-size: 12px;
        font-weight: 300;
    }
}

.team-member-description {
    display: flex;
    align-items: center;
    column-gap: 12px;

    .member-avatar {
        width: 40px;
        height: 40px;
    }

    .member-info {
        .member-name {
            font-size: 14px;
            font-weight: 500;
            font-style: italic;
        }

        .member-email {
            font-size: 12px;
            font-weight: 400;
            color: #ccc;
        }
    }
}

.team-edit-btn {
    border: 1px solid var(--primary) !important;
}

.team-lead-detail {
    display: flex;
    column-gap: 12px;
    margin-bottom: 18px;
    margin-top: 24px;

    .leader-name {
        font-weight: 700;
    }

    .role {
        font-size: 12px;
        color:#aaa;
    }
}

.team-member-detail {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-top: 32px;
    margin-bottom: 40px;

    .member-sub-info {
        display: flex;
        align-items: center;
        column-gap: 18px;
    }
}

.team-name-input {
    width: 100%;
    margin-bottom: 18px !important;
}

.team-create-btn {
    width: 100%;
    text-transform: uppercase;
    font-size: 12px !important;
    margin-top: 60px !important;
}

.project-detail-back-icon {
    position: fixed;
    top: 24px;
    right: 24px;
    width: 40px !important;
    height: 40px !important;
    cursor: pointer !important;
}