.wrapper {
    min-height: 100vh;
    z-index: -1;
    margin-bottom: 180px;
}
.project-content{
     padding-left: 10%;
}
.project-banner {
    position: relative;
    height: 200px;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 120px;
    margin-top: 20px;
    padding: 12px;
    background-color: rgba(55, 68, 207, 0.856);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.project-add-btn {
    background-color: var(--primary) !important;
    color: var(--black) !important;
    position: absolute !important;
    bottom: calc(100% + 20px);
    right: 50px;

    &:hover {
        opacity: 0.8;
    }
    
}

.project-sidebar {
    margin-left: 10px;
}

.project-heading {
    color: var(--white);
}

.project-search {
    display: flex;
    width: 60%;
    column-gap: 4px;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 8px;

    .search-input {
        flex: 1;
    }
 
    .search-btn {
        height: 46px;
        font-size: 12px;
        font-weight: 700;
    }
}
.searchpaper{
   height: 10%;
    width: 100%;
    .advanceSearch {
        flex: 1;
        width: 70%;
        padding-bottom: 5%;
        margin-left: 30px;
        margin-top: 30px;
    }
    .iconSearch{
        flex: 1;
        height: 40%;
        margin-top: 30px;
    }
    .glass{
        width: 20px;

    }
}
 
.mempaper{
    border: 2px solid rgb(225, 211, 211);
    border-radius: 5px;
}
.project-list {
    position: relative;
    margin-left: 5%;
}

.project-list-paging {
    position: absolute;
    top: calc(100% + 60px);
    left: 50%;
    transform: translateX(-50%);
}

.paging-list {
    font-size: 14px;
    margin-left: 25%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;

}