//reset css
@import 'normalize.css';

:root {
    --primary: rgb(112, 182, 229);
    --primary-bold: #304098;
    --secondary: #D4CDAB;
    --black: #000;
    --white: #fff;
    --text-color: #333;
    --container-width: 1280px;
    --border-color: #aca7a7;
}

* {
    font-family: 'Roboto';
    box-sizing: border-box;
    // box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    // cursor: none;
}

a[href] {
    text-decoration: none;
    color: var(--text-color);
}

ul {
    list-style: none;
}

body::-webkit-scrollbar {
    width: 0;               /* width of the entire scrollbar */
}