*{
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 310px;
    min-width: 240px;
    border-radius: 0;
    min-height: 90px;
    height: fit-content;
    background-color: var(--white);
    transition: color 0.4s linear;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-left: 10%;
    padding-right: 3%;
    
}

.wrapper:hover::before {
    transform: scaleX(1);
}

.wrapper::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(112, 182, 229, 0.1);
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    // transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
}

.card-container {
    padding: 12px 0px 12px 12px;
    color: var(--text-color);
    height: 100%;
}

.card-section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.card-section.separate {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-bottom: 16px;
    
}

.card-img   {
    
     width: 100%;   
  
   
    
}
.nameSkillButton{
    display: flex;
}
.card-status {
    font-size: 12px;
    font-weight: 700;
}
.card-name{
     width: 100%;
     display: flex;
       padding-right: 20%;
       padding-bottom: 3%;
       
}
.card-status.active {
    color: rgba(0, 204, 0, 0.5);
}

.card-status.begin {
    color: rgb(223, 205, 45);
}
.cardName{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 2%;
}
.card-time, .card-deadline {
    display: flex;
    align-items: center;
    column-gap: 2px;
    font-size: 10px;
    opacity: 0.4;
}
.card-img{
    border-radius: 50%;
    width: 15%;
    margin-right: 7%;
}
.card-skills{
    align-items: center;
     margin-left: 0;
    padding-bottom: 5%;
}
.buttonAccept{
    margin-left: 20%;
    width: 300px;
    display: flex;
     
}
.btn1{
    width: 150%;
    margin-right: 10%;
    
}
.btn2{
    width: 150%;
    margin-right: 4%;
    margin-left: 4%;
}